body {
  margin: 0;
  padding: 0;
}

header.top-bar {
  background-color: #A67E2F;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.headerb {
  background-color: #A67E2F;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 1cqi;
}

.headerc {
  background-color: #A67E2F;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 130px;
}

button {
  background-color: #A67E2F;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
}

main {
  display: flex;
  flex-wrap: wrap; /* Wrap content on small screens */
  margin: 1rem;
}

.large-square {
  width: 30.8%;  /* Take full width on all screens */
  height: 620px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 1rem;
}
/*unordered list*/
ul.a {
  list-style-type: none;
  font-size: 50%;
}
.container {
  width: 45%;
  height: 500px;
  background-color: #ffffff;
  border: 1px solid black;

  display: inline-block;
  overflow: scroll;
  flex-direction: row;
}
tr{
  background-color: #ffffff; }

.center {
  margin: auto;
  font-size: 50%;
  width: 60%;
  border: 3px solid #A67E2F;
}

table {
font-family: arial;
border-collapse: collapse;
width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}


/* Media Queries for smaller screens */

@media screen and (max-width: 768px) {
  .large-square{
    width: 100%; /* Take full width on small screens */
  }
}

.title {
  text-align: center;
  line-height: 200px;
}



h1, h3, p {
  text-align: center;
}


