<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoHi Events</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="top-bar">
    <a href="https://www.google.com" class = "headerc">Home</a>
    <div>
      <img src="images.png" alt="Club Image">
    </div>
  </header>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDenver&bgcolor=%23ffffff&src=YmIyMjkwYzM1MmFlY2Q1Mzc3Y2NmYzE3YTY1Njk4MjFjZmYwMTY2YTU0ZTU3NzEwYzY1ZDExZTFkMzUwMmNkNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23C0CA33" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


</body>
</html>