<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monarch Clubs</title>
  <link rel="stylesheet" href="ClubStyle.css">
</head>
<body>
  <header class="top-bar">
    <a href="https://www.example.com" class="headerb">Home</a>
    <a href="https://www.example.com" class="headerb">Calendar</a>
    <a href="https://www.example.com" class="headerb">Event Page</a>

  </header>

  <div class = "center">
    <h2>Club Description</h2>
  </div>
  
  <div class="large-square">
    <h3>Club 1</h3>
    <p>Description1</p>
  </div>

  <ul class="a center">
    <li>This club is focused on _______</li>
    <li>Meets from _______ to _______ on _______ every _______</li>
    <li>How to join _______</li>
    <li>Club Sponsor _______</li>
    <li>Other Info _______</li>
  </ul>

  <br>
  
    <table>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Event 1</td>
        <td>Date 1</td>
        <td>Time 1</td>
      </tr>
      <tr>
        <td>Event 2</td>
        <td>Date 2</td>
        <td>Time 2</td>
      </tr>
      <tr>
        <td>Event 3</td>
        <td>Date 3</td>
        <td>Time3</td>
      </tr>

    </table>
  
</body>
</html>