<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  
<div>
  <span class = "c">MOHI CLUBS</span>
</div>
<div>
  <span class = "b">CALENDAR</span>
</div>

<table class = "center">
  <tr>
    <th>Club Name</th>
    <th>Overview</th>
    <th>Meeting Times</th>
  </tr>
  <tr>
    <td>Club Name 1</td>
    <td>Overview 1</td>
    <td>Meeting Times 1</td>
  </tr>
  <tr>
    <td>Club Name 2</td>
    <td>Overview 2</td>
    <td>Meeting Times 2</td>
  </tr>
  <tr>
    <td>Club Name 3</td>
    <td>Overview 3</td>
    <td>Meeting Times 3</td>
  </tr>
</body>

</html>