<!DOCTYPE html>
<html>
<head>
  <title>Basic Club Page Template</title>
  <link rel="stylesheet" href="IndivEventPageStyle.css">
</head>

<div>
    <div>
      <span class="c";>Club Name</span>
    </div>
    <div>
      <span class="c";>Go Back</span>
    </div>
    <div>
      <span class="c";>Home</span>
    </div>
</div>
  
<div>
<h2>Club Description</h2>
</div>

<ul class="a center">
  <li>This club is focused on _______</li>
  <li>Meets from _______ to _______ on _______ every _______</li>
  <li>How to join _______</li>
  <li>Club Sponsor _______</li>
  <li>Other Info _______</li>
</ul>

<br>

<table class="center">
  <tr>
    <th>Date</th>
    <th>Event</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Date 1</td>
    <td>Event 1</td>
    <td>Time 1</td>
  </tr>
<tr>
    <td>Date 2</td>
    <td>Event 2</td>
    <td>Time 2</td>
  </tr>
<tr>
    <td>Date 3</td>
    <td>Event 3</td>
    <td>Time 3</td>
  </tr>
</table>

<br>
  
<h2>Contact Information</h2>

<ul class = "a center">
  <li>Sponsor: _____</li>
  <li>Email: _____</li>
  <li>Other Role: _____</li>
  <li>Email: _____</li>

</body>
</html>