.top-bar {
    background-color: #A67E2F;
    height: 100px;
 
  }

button {
  background-color: #A67E2F;
  position: absolute;
    left: 40px;
    top: 30px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px

  
}

.title {
  color: white;
  text-align: center;
}
.left-image-container {
  float: left;
  width: 40vh;
  height: 20vh;
  background-color: #f1f1f1;
  margin-top: 110px;
   margin-left: 0px;
    border: 1px solid black;

}

.left-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 260px;
  height:440px;
  background-color: #d3d3d3;
  float: left;
  margin-top: 175px;
  margin-left: -313px;
  border: 1px solid black;
  overflow: scroll;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
.large-div {
  width: 600px;
  height: 600px;
  margin: 0 auto;

}

#calendar {
  width: 1000px;
  height: 1000px;
}

