body {
  margin: 0;
  padding: 0;
}

header.top-bar {
  background-color: #A67E2F;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.headerb {
  background-color: #A67E2F;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

main {
  display: flex;
  flex-wrap: wrap; /* Wrap content on small screens */
  margin: 1rem;
}

.large-square {
  width: 75%;  /* Take full width on all screens */
  height: 620px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 1rem;
}

.small-squares {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Wrap content on small screens */
}

.small-square {
  width: 160%; /* Take half width on medium and large screens */
  height: 240px;
  background-color: #d3d3d3;
  border: 1px solid black;
  margin: 0.5rem;
  text-align: center;
  overflow: scroll;
  margin-top: 1rem;
}

.small-square2 {
  width: 160%; /* Take half width on medium and large screens */
  height: 240px;
  background-color: #d3d3d3;
  border: 1px solid black;
  margin: 0.5rem;
  text-align: center;
  overflow: scroll;
}

/* Media Queries for smaller screens */

@media screen and (max-width: 768px) {
  .large-square,
  .small-square,
  .small-square2 {
    width: 100%; /* Take full width on small screens */
  }
}

.title {
  text-align: center;
  line-height: 200px;
}

h1, h3, p {
  text-align: center;
}
