.large-square {
  width: 1150px;
  height: 680px;
  background-color: #ffffff;
  border: 1px solid black;
}

.small-square {
  width: 260px;
  height: 240px;
  background-color: #d3d3d3;
  float: left;
  margin-top:  -682px;
  margin-left: 1160px;
  border: 1px solid black;

  


}
.small-square2 {
  width: 260px;
  height: 240px;
  background-color: #d3d3d3;
  float: left;
  margin-top: -435px;
  margin-left: 1160px;
  border: 1px solid black;
  overflow: scroll;
}
button {
  background-color: #A67E2F;
  position: absolute;
    left: 40px;
    top: 15px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px

  
}


.title {
    text-align: center;
    line-height: 200px;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  body {
    background-color: #A67E2F;
  }